@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-main: #202224;
    --color-bkg: #f8f8f8;
}
:root[data-theme="dark"] {
    --color-main: #f5f6fa;
    --color-bkg: #1a1a1a;
}
