@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-main: #202224;
    --color-bkg: #f8f8f8;
    --color-secondary-bkg: #fff;
    --color-content: #b1b1b1;
}
:root[data-theme="dark"] {
    --color-main: #f5f6fa;
    --color-bkg: #1a1a1a;
    --color-secondary-bkg: #494848;
    --color-content: #c4c8cf66;
}

html {
    scroll-behavior: smooth;
}

.toggle {
    display: grid;
    place-items: center;
    cursor: pointer;
    line-height: 1;
}

.input {
    display: none;
}

.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 300ms;
}

.icon--moon {
    transition-delay: 100ms;
}

.icon--sun {
    transform: scale(0);
}

#switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}

.buttons__burger {
    --size: 1.5rem;
    width: var(--size);
    height: calc(0.7 * var(--size));
    cursor: pointer;
    position: relative;
    display: block;
}

.buttons__burger #burger {
    display: none;
    width: 100%;
    height: 100%;
}

.buttons__burger span {
    display: block;
    position: absolute;
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid var(--color-main);
    background-color: var(--color-main);
    transition: 0.15s ease-in-out;
}

.buttons__burger span:nth-of-type(1) {
    top: 0;
}

.buttons__burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.buttons__burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
}

html[dir="ltr"] .buttons__burger span:nth-of-type(3),
html[dir="ltr"] .buttons__burger span:nth-of-type(1) {
    left: 0;
    transform-origin: left center;
}
html[dir="rtl"] .buttons__burger span:nth-of-type(3),
html[dir="rtl"] .buttons__burger span:nth-of-type(1) {
    right: 0;
    transform-origin: right center;
}

html[dir="ltr"] .buttons__burger #burger:checked ~ span:nth-of-type(1),
html[dir="rtl"] .buttons__burger #burger:checked ~ span:nth-of-type(3) {
    transform: translateY(-30%) rotate(-40deg);
    width: 50%;
    top: 50%;
}

html[dir="ltr"] .buttons__burger #burger:checked ~ span:nth-of-type(3),
html[dir="rtl"] .buttons__burger #burger:checked ~ span:nth-of-type(1) {
    transform: translateY(-70%) rotate(40deg);
    width: 50%;
    top: 50%;
}

html[dir="ltr"] .hide_menu {
    transform: translateX(calc(-100% - 15px));
}
html[dir="rtl"] .hide_menu {
    transform: translateX(calc(100% + 15px));
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.logos {
    overflow: hidden;
    padding: 40px 0;
    background: var(--color-secondary-bkg);
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        var(--color-secondary-bkg)
    );
}

.logos:after {
    right: 0;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        var(--color-secondary-bkg)
    );
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
}
.slide-left {
    animation: 25s slideLeft infinite linear;
}
.slide-right {
    animation: 20s slideRight infinite linear;
}

.logos-slide > img {
    display: inline;
    max-width: none;
    height: 55px;
    margin: 0 40px;
}
@media (max-width: 768px) {
    .logos-slide > img {
        height: 35px;
    }
    .logos:before,
    .logos:after {
        width: 180px;
    }
    .logos {
        padding: 30px 0;
    }
}
